body {
  margin: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}
p {
  text-align: center;
}
.name {
  font-size: 300%;
}
img {
  max-width: 100%;
  height: auto;
}
.star {
  text-decoration: none;
  font-style: normal;
}
